<h2>Weight Graph</h2>

<!-- Container to show the already entered date-weight combination -->
  <div class="container" *ngFor="let datum of data; let i = index">
    <div class="inline-block">
      <span>Date: </span>
      <input type="date" [value]="datum.date" [disabled]="true">
    </div>
    <div class="inline-block">
      <span>Weight: </span>
      <input type="number" [value]="datum.weight" [disabled]="true">
    </div>
    <button (click)="deleteData(i)">X</button>
    <div>&nbsp;</div>
  </div>

<!-- Container to show the input box to add new data -->
<div class="container">
  <div class="inline-block">
    <span>Date: </span>
    <input type="date" #date [min]="data[data.length-1]?.date">
  </div>
  <div class="inline-block">
    <span>Weight: </span>
    <input #weight type="number">
  </div>
  <button (click)="addData(date.value, weight.value); date.value=''; weight.value='';">+</button>
</div>

<br><br>
<div class="bottom-section">
  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
</div>